
/* .navbar {
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    font-family: var(--FF);
    position: fixed;
    width: 100%;
    z-index: 100;
}
.navbar div {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}
.navbar .title img {
    width: 30px;
}
.navbar .title p {
    color: #fff;
    margin-left: 10px;
    font-size: 1.2rem;
}

.navbar .links div {
    flex: 2;
    display: flex;
    justify-content: flex-end;
}
.links {
    margin-right: 30px;
}
.navbar .links .link {
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
    padding: 20px 20px;
}
.link:last-child {
    background-color: var(--BLUE-TEXT);
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.navbar .links .link:hover {
    background-color: rgb(61, 61, 61);
}
.navbar .button-div {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    flex: 0.2;
}
.navbar .button-div .contact {
    background-color: var(--BLUE-TEXT);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s;
}
.navbar .button-div .contact:hover {
    transform: scale(1.1);
}
.navbar .toggle-links {
    display: none;
}
@media screen and (max-width: 700px)
{
    .navbar {
        position: fixed;
    }
    .navbar .links, .navbar .button-div {
        display: none;
    }
    .navbar .toggle-links {
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
    }
    .navbar .toggle-links .hamburger-icon {
        color: white;
        font-size: 25px;
    }
    .link:last-child {
        width: 100%;
        border-radius: 0px 0px 10px 10px;
    }

    .toggle-menu div{
        padding: 0px;
        background-color: var(--BG-COLOR-1);
    }
}
.navbar .toggle-menu {
    position: absolute;
    top: 60px;
    right: 0px;
    background-color: var(--BG-COLOR);
    display: flex;
    padding: 0px;
    flex-direction: column;
    border-radius: 0px 0px 10px 10px;
    animation: menu-slide 0.5s linear;
}
.navbar .toggle-menu div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar .toggle-menu div .link {
    color: #fff;
    text-decoration: none;
    padding: 20px 30px;
    font-size: 20px;
}
.navbar .toggle-menu .toggle-button-div {
    width: 100%;
    padding-left: 0px;
}
.navbar .toggle-menu .toggle-button-div button{
    height: 45px;
    width: 100%;
    border: none;
    background-color: var(--BLUE-TEXT);
    color: #fff;
    font-size: 18px;
    border-radius: 0px 0px 10px 10px;
}
@keyframes menu-slide {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%)
    }
}  */

#topnav{
  /* border: 1px solid orange; */
  height:auto;
  width: auto;
  display: flex;
  justify-content: space-between;
  font-size: small;
  background-color: #aa093c;
  color: white;
}
#p1{
  margin-left:45px ;
}

#p2{
   /* border: 1px solid green ; */
   width: auto;
   display: flex;
   justify-content: space-evenly;
   gap: 25px;
   margin-right: 20px;
}

 #navbar{
    /* border: 1px solid white; */
    height:70px;
    width: auto;
    display:grid;
    grid-template-columns: repeat(5,1fr);
    /* gap: 10px; */
    background-color:#f50954;

}

.logo{
    /* border: 1px solid green; */
    height:60px;
    width:180px;
    margin-left: 30px;
    display: flex;
    

}
/* style={{color:"white",fontSize:'35px',fontWeight:'600',fontFamily:'Cursive',paddingBottom:'5px'}} */
.Logo{
   color: white;
   font-size: 35px;
    font-weight: 500;
    font-family: Cursive ;
    padding-bottom: 5px;

  }

.input{
    /* border: 1px solid green; */
    height:50px;
    width:550px;
    margin-left: 30px;
margin-top: 3px;
    

}

.input input{
    /* border: 1px solid black; */
    /* width: 6700px; */
    background-color: white;
    margin-left: 20px;
    border-radius: 2px;
}

.cart{
    /* border: 1px solid rgb(221, 202, 202); */
    border-top: 0px;
    border-bottom: 0px;
    height:68px;
    width:100px;
    margin-left: 40px;
    color:white ;
    font-size: 20px;
    padding-top: 7px;
    text-decoration: none;

}

#login{
    /* border: 1px solid rgb(202, 209, 202); */
    height:68px;
    width:100px;
    margin-left: 20px;
    padding-top: 20px;
    /* gap: 10px; */
    /* color: white; */
    text-decoration: none;

}

.dark{
  /* border: 1px solid rgb(221, 202, 202); */
  border-top: 0px;
  border-bottom: 0px;
  height:68px;
  width:100px;
  margin-right: 60px;
  color:white ;
  /* font-size: 70px; */
  padding-top: 7px;
  text-decoration: none;

}

.logo:hover{
  border:1px solid white
}
.cart:hover{
  border:1px solid white
}
#login:hover{
  border:1px solid white
}
.dark:hover{
  border:1px solid white
}

@media screen and (min-width:300px) and (max-width:1000px){

 #topnav{
  height:auto;
  width:auto;
 }
      #navbar{
       
      height:80px;
      width:950px;
      gap:0px
      }
    
   .logo{
    height: 50px;
    width:50px;
    
   }

   .Logo{
    
    font-size:30px ;
   }
   .input{
    width:500px;
    margin-left: 60px;
    padding-bottom: 10px;
   }

   .cart{  
    width:50px;

   }

   #login{
    width:90px;
   }

   .dark{
    width:90px;
   }
    
    }

    /* @media screen and (min-width:700px) and (max-width:1300px){
      #navbar{
       
        height:80px;
        width:870px;
        gap:0px
        }
      
     .logo{
      height: 50px;
      width:50px;
      
     }
  
     .Logo{
      
      font-size:30px ;
     }
     .input{
      width:400px;
      margin-left: 60px;
      padding-bottom: 10px;
     }
  
     .cart{  
      width:50px;
  
     }
  
     #login{
      width:90px;
     }
  
     .dark{
      width:90px;
     }
    
    } */

/* ******************************************************************************************************************* */

/* .top-bar {
    background: #e40046;
    position: sticky;
    top: 0px;
    z-index: 100;
    width: 100%;
    padding-top: 5px;
  }
  
  .top-bar__container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px 20px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .top-bar__logo {
    cursor: pointer;
    width: 13%;
  }
  
  .top-bar__logo img {
    width: 100%;
  }
  
  .top-bar-hamburger {
    width: 5%;
    color: #e40046;
  }
  
  .top-bar__side-content {
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }
  
  .top-bar__searchbar {
    width: 60%;
  }
  
  .top-bar__searchbar__container {
    width: 100%;
    display: flex;
    position: relative;
  }
  
  .top-bar__searchbar__container input {
    width: 75%;
    outline: none;
    padding: 8px 20px;
    border: none;
    border-radius: 2px 0px 0px 2px;
    font-size: 14px;
  }
  
  .top-bar__searchbar__container button {
    width: 25%;
    outline: none;
    border: none;
    background: #333;
    color: #fff;
    font-size: 14px;
    border-radius: 0px 2px 2px 0px;
  }
  
  .top-bar__cart-sign {
    display: flex;
    justify-content: flex-end;
    height: 100%;
  }
  
  .top-bar__cart {
    color: #fff;
    border-left: 1px solid rgba(0, 0, 0, 0.07);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 25px;
    cursor: pointer;
  }
  
  .top-bar__sign-in-wrapper {
    display: flex;
    align-items: center;
    color: #fff;
    border-left: 1px solid rgba(0, 0, 0, 0.07);
    height: 100%;
    padding: 0px 25px;
    position: relative;
    cursor: pointer;
    border-radius: 3px 3px 0px 0px;
  }

  .top-bar__sign-in {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .top-bar__sign-in-wrapper:hover {
    background: #333;
  }
  
  .sign-in-hover {
    display: none;
  }
  .top-bar__sign-in-wrapper:hover .sign-in-hover {
    display: block;
  }
  .trending{
    width: 10px;
  }
  .GiHamburgerMenu:hover {
   
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }
  
  .GiHamburgerMenu{
    height: 25px;
    width: 30px;
    font-size: 21px;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    color: #fff;
    line-height: 1;
    margin: 22px 0px 0px 15px;
  
  }

  .searchBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }
  
  @media (max-width: 1100px) {
    .top-bar-hamburger {
      display: none !important;
    }
  }
  
  @media (max-width: 800px) {
    .top-bar {
      padding: 5px 0px;
    }
    .top-bar__cart-sign {
      display: none;
    }
    .top-bar__logo {
      width: 20%;
    }
    .top-bar__side-content {
      width: 55%;
    }
    .top-bar__searchbar {
      width: 100%;
    }
    .top-bar__searchbar button span {
      display: none;
    }
    .top-bar__searchbar button img {
      margin-left: 5px;
    }
  }
  
  @media (max-width: 500px) {
    .top-bar__logo {
      width: 25%;
    }
    .top-bar__side-content {
      width: 70%;
    }
  }
  
  .search-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 75%;
    box-shadow: 0 4px 17px 0 rgb(0 0 0 / 10%);
  }
  
  .search-dropdown ul {
    background: #fff;
    width: 100%;
    list-style: none;
  }
  
  .search-dropdown li {
    padding: 10px 20px;
    line-height: 17px;
    font-size: 13px;
    text-transform: capitalize;
    color: #333;
    cursor: pointer;
    border-radius: 0px 0px 3px 3px;
  }
  
  .search-dropdown li:first-child {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding-left: 23px;
    color: #999;
    padding-left: 15px;
  }
  
  .search-dropdown li:first-child:hover {
    background: #fff !important;
    color: #999 !important;
  }
  
  .search-dropdown li:hover {
    background: #eee;
    color: #111;
  }
  
  .top-bar-hamburger {
    position: relative;
    height: 100%;
    display: block;
    
  }
  
  .top-bar-hamburger:hover {
    background: #fff;
   
  }
  .top-bar-hamburger:hover .GiHamburgerMenu {
    color: #e40046;
  }
  
  .hamburger-sidebar {
    position: absolute;
    top: 100%;
    right: 0px;
    width: 200px;
    display: none;
  }
  
  .top-bar-hamburger:hover .hamburger-sidebar {
    display: block;
  }


  .backdrop {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.3;
    background: #333;
  }
  
  .backdrop-hide:hover {
    display: none;
  } */